<div class="component {{componentName}}">
    <header class="{{componentName}}__header {{> ../modifiers/_modifiers}}">
        <h2 class="{{componentName}}__title">
            {{{header}}}
        </h2>
    </header>
    <div class="{{componentName}}__body {{> ../modifiers/_modifiers}}">
        <p class="{{componentName}}__text">
            {{~{body}~}}
        </p>
    </div>
    <footer class="{{componentName}}__footer {{> ../modifiers/_modifiers}}">
        <p class="{{componentName}}__text">
            {{~{footer}~}}
        </p>
    </footer>
</div>
