<div class="component {{componentClass}}">
    <header class="{{componentClass}}__header {{> ../tools/_modifiers className="{{componentClass}}__header"}}">
        <h2 class="{{componentClass}}__title">
            {{{header}}}
        </h2>
    </header>
    <div class="{{componentClass}}__body {{> ../tools/_modifiers className="{{componentClass}}__body"}}">
        <p class="{{componentClass}}__text">
            {{怙澌}
        </p>
    </div>
    <footer class="{{componentClass}}__footer {{> ../tools/_modifiers className="{{componentClass}}__footer"}}">
        <p class="{{componentClass}}__text">
            {{骘雉弪}
        </p>
    </footer>
</div>
